# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest

# Installer logs
pip-log.txt
pip-delete-this.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS files
.DS_Store

# PDF tool build artifacts
build/
*.pkg
*.toc
*.zip
*.pyz
*.html
localpycs/

# Environment files
.env
.venv
venv/
ENV/

# Misc
*.log

# Ignore PDF tool executable
pdf-tool
